        <div class="col-sm-6"><!-- Days -->
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                <div class="dropdown">
                  <button class="text-button dropdown-toggle" type="button" id="monthDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ shown_month|monthformat }} {{ shown_year }} <span class="caret"></button>
                  <ul class="dropdown-menu" aria-labelledby="monthDropdown">
                    {% for month, year in months %}
                    <li{{ ' class="disabled"'|safe if month == shown_month and year == shown_year }}>
                      <a href="#" class="select-shift-month" data-month="{{ month }}" data-year="{{ year }}">{{ month|monthformat }} {{ year }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                </th>
              </tr>
            </thead>
            <tbody id="table-body">
            {% for workdate, workday in workdays.iteritems() %}
              <tr>
                <td colspan="4">
                  {{ workdate|dateformat }} {{ workdate|weekdayformat }}
                </td>
              </tr>
              {% for shift in workday %}
              <tr class="clickable toggle-edit {{ 'danger' if shift['status'] != 3 and not server else 'info' }}" data-syncid="{{ shift['syncId']}}">
                <td align="right">{{ shift['worker'] }}</td>
                <td>{{ shift['duration']|durationformat }}</td>
                <td>{{ shift['start']|timeformat }} - {{ shift['end']|timeformat }}</td>
                <td>{{ shift['sales']|moneyformat }} ({{ (shift['sales'] * 0.03)|moneyformat }})</td>
              </tr>
              <tr class="gone edit-inputs" data-syncid="{{ shift['syncId']}}">
                <td colspan="4" align="center">
                  <input type="text" class="edit-shift shift-start" value="{{ shift['start']|datetimeformat }}">
                  <input type="text" class="edit-shift shift-end" value="{{ shift['end']|datetimeformat }}">
                  <span class="delete-shift clickable glyphicon glyphicon-trash"></span>
                </td>
              </tr>
              {% endfor %}
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-sm-6"><!-- Workers -->
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Horas</th>
                <th>Total</th>
                <th>Comisión</th>
              </tr>
            </thead>
            <tbody id="table-body">
            {% for summary in shift_totals %}
              <tr>
                <td>{{ summary["worker"] }}</td>
                <td>{{ summary["hours"]|durationformat }}</td>
                <td>{{ summary["sales"]|moneyformat }}</td>
                <td>{{ (summary["sales"] * 0.03)|moneyformat }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
