.greyfont {
   color: lightgrey;
}

.gone {
   display: none;
}
textarea {
   resize: vertical;
}
.margin-5 {
   margin: 5px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.padding-0 {
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.padding-sm-right {
   padding-right: 2px !important;
}

.padding-sm {
   padding-left: 2px !important;
   padding-right: 2px !important;
}

.padding-md {
   padding-left: 5px !important;
   padding-right: 5px !important;
}
.clickable {
   cursor: pointer;
}

.list-group-horizontal .list-group-item {
   display: inline-block;
}

.list-group-horizontal .list-group-item {
   margin-bottom: 0;
   margin-left:-4px;
   margin-right: 0;
}

.list-group-horizontal .list-group-item:first-child {
   border-top-right-radius:0;
   border-bottom-left-radius:4px;
}

.list-group-horizontal .list-group-item:last-child {
   border-top-right-radius:4px;
   border-bottom-left-radius:0;
}
