<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
    </style>
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ventas</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/admin.py"><span class="glyphicon glyphicon-refresh"></span> Update&Sync</a></li>
              <li><a href="stats.py"><span class="glyphicon glyphicon-list"></span> Descargar</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-sm-6"><!-- Input form -->
          <form action="api.py" method="post" id="myForm" class="form-horizontal" role="form">
            <input type="hidden" name="action" value="save_purchase">
            <input type="hidden" name="redirect" value="index.py?showndate={{ date|dateformat }}">
            <div class="form-group">
              <label title="2016-07-01 18:04" class="control-label col-sm-2" for="date">Hora:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="datetime" id="date" placeholder="18:04" list="dates" required>
                <datalist id="dates">
                    <option value="{{ date|timeformat }}"></option>
                    <option value="{{ date|datetimeformat }}"></option>
                </datalist>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="country">País:</label>
              <div class="col-sm-5">
                <select class="form-control" name="country" id="country">
                {% for country in countries %}
                <option value="{{ country[0] }}">{{ "&nbsp;&nbsp;" if country[0] is not continent else "" }}{{ country[1] }}</option>
                {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="discount">Desconto:</label>
              <div class="col-sm-5 input-group" style="padding: 0 15px;">
                <div class="input-group-addon">-</div>
                <input type="number" class="form-control" id="discount" name="discount" placeholder="0">
                <div class="input-group-addon">%</div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="box">Caja:</label>
              <div class="col-sm-7 box-inputs padding-sm-right">
                <input type="text" class="form-control" name="{{ foo|uniqueId }}" id="box" placeholder="Box" list="boxes">
                <datalist id="boxes">
                {% for boxId, box in boxes %}
                  <option data-value="{{ boxId }}" data-price="{{ box['price']|moneyformat }}">{{ box['title'] }}</option>
                {% endfor %}
                </datalist>
                <input type="hidden" name="current_box" id="box-hidden">
              </div>
              <div class="col-sm-2 box-inputs padding-sm">
                <input type="number" class="form-control" name="quantity" id="quantity" value="1">
              </div>
              <div class="col-sm-1 box-inputs padding-sm">
                <span class="clickable glyphicon glyphicon-plus btn btn-default" id="add-box"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-sm-2"></div>
              <ul id="added-boxes" class="col-sm-10">
              </ul>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <div class="radio">
                      <label><input type="radio" name="payment" value="card" required>&nbsp;Tarjeta</label>
                  </div>
                  <div class="radio">
                      <label><input type="radio" name="payment" value="cash" required>&nbsp;Efectivo</label>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-6"><!-- Sales list -->
          <ul class="list-inline">
            <li><form method="get"><input name="showndate" size="10" style="width: auto;" class="form-control" placeholder="{{ date|dateformat }}"  value="{{ date|dateformat }}"></input></form></li>
            <li><a href="?showndate={{ date|adddays(-1)|dateformat }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li><a href="?" class="btn btn-default">Hoy</a></li>
            <li><a href="?showndate={{ date|adddays(1)|dateformat }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></a></li>
          </ul>
          <table class="table table-hover">
            <thead>
              <tr>
                <td></td>
                <td align="right" style="vertical-align:bottom" colspan="3">
                  <span title="VISA">{{ card_total|moneyformat }}</span> + <span title="efectivo">{{ cash_total|moneyformat }}</span> = {{ (card_total + cash_total)|moneyformat }}
               </td>
              </tr>
            </thead>
            <tbody>
              {% for purchase in purchases %}
              <tr class="{{ 'info' if purchase['purchase']['status'] == 3 else 'danger' }} clickable deletable-row" data-href="api.py?action=delete_purchase&redirect=index.py?showndate={{ date|dateformat }}&syncId={{ purchase['purchase']['syncId'] }}">
                <td>{{ purchase['purchase']['date']|timeformat }}</td>
                <td>{{ purchase['purchase']['country']|countryformat }}</td>
                <td>{{ purchase['purchase']['card']|cardformat }}</td>
                <td align="right">{{ purchase['purchase']['discount']|discountformat }}{{ purchase['purchase']['total']|moneyformat }}</td>
              </tr>
              {% for item in purchase['cart'] %}
              <tr>
                <td align="right" colspan="2">{{ item['title'] }}</td>
                <td>x{{ item['quantity'] }}</td>
                <td align="right">{{ item['price']|moneyformat }}</td>
              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      lastPrice = "";
      // Turn label into data-value on datalist input
      $('input[list]').on('input', function(e) {
          var $input = $(e.target),
              $options = $('#' + $input.attr('list') + ' option'),
              $hiddenInput = $('#' + $input.attr('id') + '-hidden'),
              label = $input.val();

          $hiddenInput.val(label);

          for(var i = 0; i < $options.length; i++) {
              var $option = $options.eq(i);

              if($option.text() === label) {
                  $hiddenInput.val($option.attr('data-value'));
                  lastPrice = $option.attr('data-price');
                  break;
              }
          }
      });

      // add boxes - obviously
      $('#add-box').click(function(e) {
          title = $('#box').val()
          boxId = $('#box-hidden').val()
          quantity = $('#quantity').val()
          // TODO: show errors
          
          if (title == "" || quantity == 0 || boxId == "" || $('#box_'+boxId).length > 0) return;
          // clear fields
          $('#box').val("")
          $('#box-hidden').val("")
          $('#quantity').val("1")
          // clear error
          $(".box-inputs").removeClass("has-error");

          input = '<input type="hidden" name="box_' + boxId + '" id="box_' + boxId + '" value="' + quantity + '">'
          $('#added-boxes').append('<li class="list-group-item added-box clickable"><span class="badge">' + quantity + 'x' + lastPrice + '</span> ' + title + input + '</li>')
          e.preventDefault();
      }); 

      // remove added boxes by onclick
      $('#added-boxes').on('click', '.added-box', function() {
          $(this).remove();
      });
      $(".deletable-row").click(function() {
          if (confirm("Really delete?")) {
              window.document.location = $(this).data("href");
          }
      });
      // display error when submitting without boxes
      $("#myForm").on("submit", function(e) {
          if ($('.added-box').length <= 0) {
              $(".box-inputs").addClass("has-error");
              e.preventDefault();
          } else {
              $("#submit").attr("disabled", "true");
          }
      });
    </script>
  </body>
</html>
