{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
      <div class="row" id="shifts-container">
  {% include "shifts_table.html" %}
      </div>
{% endblock %}
{% block script %}
    <script>
  {{ super() }}
      function reload_shifts() {
          $("#shifts-container")
              .load("shifts/table?date={{ date|dateformat }}");
      }
      // gets called from base.html
      function reload_content() {
          reload_shifts();
      }
    </script>
{% endblock %}
