{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block menu %}
  {{ super() }}
              <li><a href="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
{% endblock %}
{% block content %}
      <div id="stock-container">
      {% include "stock_form.html" %}
      </div>
{% endblock %}
{% block script %}
    <script>
  {{ super() }}
      $('.container-inputs').on('keyup mouseup', '.quantity', function(e) {
          $input = $('.count-method:checked');
          $target = $(e.target).parent();
          $result = $target.find('.container-result');
          new_quantity = $target.find('.quantity')[0].value;
          if (new_quantity == '') {
              new_quantity = 0
          }
          if ($input.val() == 'relative') {
              $('.container-modifier').html("+");
              quantity = $target.data('quantity');
              result = parseInt(quantity) + parseInt(new_quantity);
              $result.html("= " + result)
          } else if ($input.val() == 'absolute') {
              $('.container-modifier').html("=>");
              $result.html("= " + new_quantity)
          }
      })
      $('.count-method').change(function(e){
          $input = e.target;
          if ($input.value == 'relative') {
              $('.container-modifier').html("+");
              $('.container-inputs').each(function(i, obj) {
                  $quantity = $(this).find('.quantity')[0];
                  quantity = $(this).data('quantity');
                  $quantity.value = "0"
                  new_quantity = $quantity.value;
                  result = parseInt(quantity) + parseInt(new_quantity);
                  $result = $(this).find('.container-result');
                  $result.html("= " + result)
              });
          } else if ($input.value == 'absolute') {
              $('.container-modifier').html("=>");
              $('.container-inputs').each(function(i, obj) {
                  $quantity = $(this).find('.quantity')[0];
                  quantity = $(this).data('quantity');
                  $quantity.value = quantity
                  new_quantity = $quantity.value;
                  $result = $(this).find('.container-result');
                  $result.html("= " + new_quantity)
              });
          }
      })
      function reload_stock() {
          $("#stock-container")
              .load("stock/form");
      }
      function reload_content() {
          reload_stock();
      }
    </script>
{% endblock %}
