<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
    </style>
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">{{ title }} (v{{ version|readable_version }})</span>
            <span class="navbar-brand" id="working-now">
            {% for wid, worker in workers.iteritems() if worker["working"] %}
              <span class="end-work" data-worker="{{ wid }}">{{ worker["name"] }}</span>
            {% endfor %}
            </span>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="dropdown margin-5">
                  <button class="btn btn-default dropdown-toggle" type="button" id="locationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ locations[location] }} <span class="caret"></button>
                  <ul class="dropdown-menu" aria-labelledby="locationDropdown">
                    {% for lid, location in locations.iteritems() %}
                    <li><a href="stock.py?location={{ lid }}">{{ location }} </a></li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
              <li><a href="index.py"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <form action="api.py" method="post" class="form-horizontal" role="form">
        <input type="hidden" name="action" value="update_stock">
        <input type="hidden" name="redirect" value="stock.py">
        <div class="row">
          {% for i in range(3) %}
          <div class="col-sm-4">
            {% for containerId, details in containers.iteritems() %}
            {% if (i == 0 and containerId >=  0 and containerId <  7)
               or (i == 1 and containerId >=  7 and containerId < 13)
               or (i == 2 and containerId >= 13 and containerId < 19) %}
            <div class="form-group">
              <label class="control-label col-sm-8" for="box">{{ details['title'] }}:{{ stock[containerId]['quantity'] }}</label>
              <div class="col-sm-4 box-inputs">
                <input type="number" class="form-control" name="container_{{ containerId }}" value="0">
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="col-sm-offset-10 col-sm-2">
                <div class="radio">
                  <label><input type="radio" name="count-method" value="relative" required>&nbsp;Add/Remove</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="count-method" value="absolute" required>&nbsp;Total</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" id="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
