{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block menu %}
  {{ super() }}
              <li><a href="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
{% endblock %}
{% block content %}
      <form action="api/v1.0/stock" method="post" class="form-horizontal" role="form">
        <input type="hidden" name="redirect" value="yep">
        <div class="row">
          {% for i in range(3) %}
          <div class="col-sm-4">
            {% for containerId, details in containers.iteritems() %}
            {% if (i == 0 and containerId >=  0 and containerId <  7)
               or (i == 1 and containerId >=  7 and containerId < 13)
               or (i == 2 and containerId >= 13 and containerId < 19) %}
            <div class="form-group">
              <label class="control-label col-sm-5" for="box">{{ details['title'] }}: </label>
              <div class="col-sm-7 input-group container-inputs" style="padding: 0 15px;" data-quantity="{{ stock[containerId]['quantity'] }}">
                <div class="input-group-addon">{{ stock[containerId]['quantity'] }} <span class="container-modifier">+</span></div>
                <input type="number" class="form-control quantity" name="container_{{ containerId }}" value="0" required>
                <div class="input-group-addon container-result">= {{ stock[containerId]['quantity'] }}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="col-sm-offset-10 col-sm-2">
                <div class="radio">
                  <label><input type="radio" name="count-method" value="relative" class="count-method" checked required>&nbsp;Add/Remove</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="count-method" value="absolute" class="count-method" required>&nbsp;Total</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" id="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
{% endblock %}
{% block script %}
    <script>
  {{ super() }}
      $('.container-inputs').on('keyup mouseup', '.quantity', function(e) {
          $input = $('.count-method:checked');
          $target = $(e.target).parent();
          $result = $target.find('.container-result');
          new_quantity = $target.find('.quantity')[0].value;
          if (new_quantity == '') {
              new_quantity = 0
          }
          if ($input.val() == 'relative') {
              $('.container-modifier').html("+");
              quantity = $target.data('quantity');
              result = parseInt(quantity) + parseInt(new_quantity);
              $result.html("= " + result)
          } else if ($input.val() == 'absolute') {
              $('.container-modifier').html("=>");
              $result.html("= " + new_quantity)
          }
      })
      $('.count-method').change(function(e){
          $input = e.target;
          if ($input.value == 'relative') {
              $('.container-modifier').html("+");
              $('.container-inputs').each(function(i, obj) {
                  $quantity = $(this).find('.quantity')[0];
                  quantity = $(this).data('quantity');
                  $quantity.value = "0"
                  new_quantity = $quantity.value;
                  result = parseInt(quantity) + parseInt(new_quantity);
                  $result = $(this).find('.container-result');
                  $result.html("= " + result)
              });
          } else if ($input.value == 'absolute') {
              $('.container-modifier').html("=>");
              $('.container-inputs').each(function(i, obj) {
                  $quantity = $(this).find('.quantity')[0];
                  quantity = $(this).data('quantity');
                  $quantity.value = quantity
                  new_quantity = $quantity.value;
                  $result = $(this).find('.container-result');
                  $result.html("= " + new_quantity)
              });
          }
      })
    </script>
{% endblock %}
